@model IEnumerable<WebGUI.Dtos.Log>

@{
    ViewData["Title"] = "Log";
    var trClass = "";
}

<div class="container">
    <div class="text-center title">
        <h2>Logs</h2>
    </div>
</div>
<div class="container">
    <form action="">
        <div class="row">
            <div class="col-md-4">
                <div class="float-left">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="col-md-4">
                <div class="float-right">
                    <span>Kezdeti datum</span>
                    <input type="date" name="" id="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="float-right">
                    <span>Vegso datum</span>
                    <input type="date" name="" id="">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="float-left">
                    <input type="checkbox" name="" id=""> Temperature
                    <input type="checkbox" name="" id=""> Humidity
                </div>
            </div>
            <div class="col-md-2">
                <div class="text-center">
                    <input type="checkbox" name="" id=""> Error
                </div>
            </div>
            <div class="col-md-5">
                <div class="float-right">
                    <input type="checkbox" name="" id=""> Humidity Events
                    <input type="checkbox" name="" id=""> Temperature Evemts
                </div>
            </div>
        </div>

       

    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>TimeStamp</th>
                <th>Who</th>
                <th>Data</th>
                <th>DataType</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                @switch (item.Device.Type)
                {
                    case "temperature":
                        trClass = "temp-data";

                        break;

                    case "humidity":
                        trClass = "humidity-data";

                        break;
                    case "heater":
                        trClass = "temp-event";

                        break;
                }
                <tr class="@trClass">
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Device.CommunicationUnitId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Device.Type)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="text-center">
            <div class="pager">
                <i class="fa fa-angle-double-left" id="first-page-log"></i>
                <i class="fa fa-angle-left" id="page-left-log"></i>
                <span id="counterpp">1</span><span>|</span><span>20</span>
                <i class="fa fa-angle-right" id="page-right-log"></i>
                <i class="fa fa-angle-double-right"id="last-page-log"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <div class="pager">
                <select id="page-size-selector">
                    <option value="50" selected="selected">50/page</option>
                    <option value="100">100/page</option>
                    <option value="250">250/page</option>
                    <option value="500">500/page</option>
                    <option value="0">All/page</option>
                </select>
            </div>
        </div>
    </div>
</div>

