@model IEnumerable<WebGUI.Dtos.Log>

@{
    ViewData["Title"] = "Log";
    var trClass = "";
}

<div class="container">
    <div class="text-center title">
        <h2>Logs</h2>
    </div>
</div>
<div class="container">
    <form action="@Url.Action("Filtering", "Log")" method="post" id="filter">
        <div class="row">
            <div class="col-md-4">
                <div class="float-left">
                    <input type="text" placeholder="Room Name" value=@ViewData["roomName"] name="roomName">
                </div>
            </div>
            <div class="col-md-4">
                <div class="float-right">
                    <span>Kezdeti datum</span>
                    <input type="date" name="startDate"  value=@ViewData["startDate"] id="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="float-right">
                    <span>Vegso datum</span>
                    <input type="date" name="endDate" value=@ViewData["endDate"] id="">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="float-left">
                    <input type="checkbox" value="true"  name="temp" id="" @ViewData["temp"]> Temperature
                    <input type="checkbox"  value="true" name="humidity" id=""  @ViewData["humidity"]> Humidity
                </div>
            </div>
            <div class="col-md-2">
                <div class="text-center">
                    <input type="checkbox"  value="true" name="error" id="" @ViewData["error"]> Error
                </div>
            </div>
            <div class="col-md-5">
                <div class="float-right">
                    <input type="checkbox" value="true" name="cevent" id=""  @ViewData["cevent"]> Cooling Events
                    <input type="checkbox"  value="true" name="hevent" id="" @ViewData["hevent"]> Heating Events
                </div>
            </div>
        </div>

        <button type="submit" style="display:none"></button>
         <input type="hidden" value= @ViewData["page"]   name="page" id="page-index">
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>TimeStamp</th>
                <th>Room</th>
                <th>Who</th>
                <th>Data</th>
                <th>DataType</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                @switch (item.Device.Type)
                {
                    case "temperature":
                        trClass = "temp-data";

                        break;

                    case "humidity":
                        trClass = "humidity-data";

                        break;
                    case "heater":
                        trClass = "temp-event";
                        break;
                    case "cooler":
                        trClass = "cooling-event";

                        break;
                }
            <tr class="@trClass">
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.CommunicationUnitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Type)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="text-center">
            <div class="pager">
                <i class="fa fa-angle-double-left" id="first-page-log"></i>
                <i class="fa fa-angle-left" id="page-left-log"></i>
                <span id="counterpp">@ViewData["page"]</span><span>|</span><span id="countermax">@ViewData["pager_size"]</span>
                <i class="fa fa-angle-right" id="page-right-log"></i>
                <i class="fa fa-angle-double-right" id="last-page-log"></i>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="text-center">
            <div class="pager">
                <select id="page-size-selector">
                    <option value="50" selected="selected">50/page</option>
                    <option value="100">100/page</option>
                    <option value="250">250/page</option>
                    <option value="500">500/page</option>
                    <option value="0">All/page</option>
                </select>
            </div>
        </div>
    </div>
        -->
</div>

