@model WebGUI.Dtos.Room
@{
    ViewData["Title"] = "Room";
    var Heating = "Off";
    var Cooling= "Off";
    if(Model.HeatingEnable==false)
    {
        Heating = "On";
    }
        if(Model.CoolingEnable==false)
    {
        Cooling = "On";
    }

}

<h1>@Model.Name</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="setting-box">
                <p><span>Room Name:</span><span class="float-right">@Model.Name</span></p>
                <p><span>Daily  Setpoint:</span><span class="float-right">@Model.DailySetpoint</span></p>
                <p><span>Nightly  Setpoint:</span><span class="float-right">@Model.NightlySetpoint</span></p>
                <hr>
                <p class="text-center"><span>Sensors:</span></p>
                <div id="sensor-listing">
                
                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-push-3">
            <form action="@Url.Action("UpdateRoom", "Settings")" method="post"  id="room-setting-form" >
                <input type="text" name="RoomName" id="room-name-input" placeholder="Room Name">
                <input type="text" name="DayliSetpoint" id="room-dayli-input"  onkeypress="return numbersonly(this, event)" placeholder="Daily Setpoint"  placeholder="Daily Setpoint">
                <input type="text" name="NightlySetpoint" id="room-nightly-input"  onkeypress="return numbersonly(this, event)" placeholder="Daily Setpoint" placeholder="Nightly Setpoint">
                <select name="" id="select-esp">
                    <option value="" selected="selected" disabled>Add Sensor</option>

                </select>
                <div class="text-center">

                    <button>Heater @Heating</button>


                    <button>Cooler @Cooling</button>
                </div>
                <input type="hidden" name="id" value="@Model.Id">
            </form>
        </div>
    </div>
</div>
